<div class="content">
    <nav class="options">
            <a routerLink="books" class="btn btn-primary active" role="button" routerLinkActive="active">Books</a>
    </nav>
        <router-outlet></router-outlet>
    <div class="text-center">
        <div class="table-responsive" style="width: 793px;margin: 30px;">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Information about you</th>
                    </tr>
                   
                    <tr>
                            <th colspan="2"><img src="data:image/png;base64,{{loginuser.user.photo}}" class="photo"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td>{{loginuser.user.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{loginuser.user.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{loginuser.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{loginuser.user.username}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{loginuser.user.phoneNumber}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    </div>
    
     