

<section>
                <div>
                    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #a39b9b;">
                        <div class="container-fluid"><a class="navbar-brand" href="" style="color: rgba(255,255,255,0.9);margin-right: 30px;font-size: 22px;" routerLinkActive="active">Bookshelf</a>
                            <div class="collapse navbar-collapse d-flex flex-row justify-content-between flex-wrap" id="navcol-1">
                                <ul class="nav navbar-nav" style="color: rgb(255,255,255);">
                                   
                                   
                                </ul>
                                <ul class="nav navbar-nav" style="color: rgb(255,255,255);">
                                    <li class="nav-item" role="presentation"><a routerLink="signup" class="nav-link active" style="color: rgba(255,236,236,0.9);" *ngIf="!currentStatus.status" routerLinkActive="active">Sign in</a>
                                    </li>
                                   <li class="nav-item" role="presentation"><a routerLink="login" class="nav-link active"  style="color: rgba(255,236,236,0.9);" *ngIf="!currentStatus.status" routerLinkActive="active">Log in</a></li>
                                    <li class="nav-item" role="presentation"><a routerLink="login" class="nav-link active" style="color: rgba(255,236,236,0.9);" (click)="logout()" *ngIf="currentStatus.status" routerLinkActive="active">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
</section>
<router-outlet></router-outlet>
         