.options{
    display: flex;
    flex-direction: column;
    width: 150px;
    
}
.options a{
    margin-top: 10px;
}
.options {
    padding-left: 10px;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.table{
    margin: 10px;
    width: 900px;
}
.showTable{
    max-height: 400px;
    min-height: 400px;
    margin-bottom: 30px;
}
.lista{
    display: flex;
    justify-content: space-around;
}
.searchForm{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.searchForm form{
    display: flex;
}
.contForm{
    width: 100%;
}